
<div class="centered">
  <h1>Главная</h1>
   <nav style="margin: 20px 0;">
    <%= link_to "Главная", root_path, class: "button" %>
    <%= link_to "О нас", about_path, class: "button green" %>
  </nav>

  <p>Добро пожаловать на сайт! 🚀</p>

</div>