/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.centered {
  text-align: center;
  margin-top: 50px;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.button.green {
  background-color: #28a745;
}

.button:hover {
  background-color: #0056b3; /* чуть темнее при наведении */
  cursor: pointer;
}

.button.green:hover {
  background-color: #1e7e34;
}

nav {
  background: #333;       /* Фон меню (тёмно-серый) */
  padding: 10px;          /* Отступы внутри меню */
}
nav a {
  color: white;           /* Цвет текста ссылок */
  text-decoration: none;  /* Убираем подчёркивание */
  margin-right: 15px;     /* Расстояние между ссылками */
}
nav a:hover {
  color: #ffd700;         /* Цвет ссылки при наведении (золотой) */
}